body {
  margin: 0;
  font-family: "Sarabun", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fbe7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Fix for Leaflet map container */
.leaflet-container {
  width: 100%;
  height: 100%;
}

/* Ensure Leaflet markers appear correctly */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  animation: fix-marker 0.01s;
}

@keyframes fix-marker {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(0);
  }
}
